/**********************************Works Cited************************************
 * Title: React Website Tutorial - Beginner React JS Project Fully Responsive
 * Author: Brian Design 
 * Date: 8/11/20 (Accessed 1/1/22)
 * Code Version: React
 * Availability: https://youtu.be/I2UBjN5ER4s
 *********************************************************************************/
 #main-re{
  /* margin-left: 30px;  */
  /* background-image: url('images/greenBack.jpg'); */
 }
 /* #h1{
   margin-top: 20px;
   margin-bottom: 40px;
   font-size: 65px;
   font-family: 'Moon Dance', cursive; 
   /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
/* } */
 /* .ui_search{
   margin-bottom:40px ;
   white-space: 300px;
   height: 50px;

 } */
 /* .ui_icon_input{
   border-top: 30px;
 } */

 .submainAll{
  width: 560px;
  height: 400px;
  background-size: cover !important;
  background-position: center;
  position: relative;
 }

 #submain1{ 
   background-image: url('../images/newBrak2.jpg'); 

 }
 #submain2{
  background-image: url('../images/lunch.jpg'); 

}
#submain3{
  background-image: url('../images/newDinner.jpg'); 

}
#submain4{
  background-image: url('../images/newDess9.jpg'); 

}
#submain5{
  background-image: url('../images/newSn1.jpg'); 

}
#submain6{
  background-image: url('../images/drink.jpg'); 
}
 #bottom{
  padding-left: 10px;
  padding-right: 13px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color:white;
  color: rgb(247, 207, 207);
  font-family: 'Moon Dance', cursive; 
  font-size: 40px;
  border-radius: 0px 25px 0px 0px; /*this rounds the upper right corner*/
 }

 #pdiv{
   margin-top:10px ;
   margin-bottom: 20px;
   /* margin-left: 100px; */

   background-color:transparent !important;

   
 }
#h2p{
  /* font-family: 'Moon Dance', cursive;  */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  color:rgb(253, 253, 253)
  /* font-weight: 700; */
}


.bigDivAll{
  margin: 15px 90px !important;
  background-color: rgb(99, 95, 95);
  border: 5px solid rgb(99, 95, 95);
  border-radius: 30px;
  overflow: hidden; /*this rounds the corners at the top */ 
  /*float: left;*/

}

.hov:hover{
  transition:0.6s ease-in-out;
  transform: scale(1.2);
  /* z-index: 99; */
}


 