/**********************************Works Cited************************************
 * Title: React Website Tutorial - Beginner React JS Project Fully Responsive
 * Author: Brian Design 
 * Date: 8/11/20 (Accessed 1/1/22)
 * Code Version: React
 * Availability: https://youtu.be/I2UBjN5ER4s
 *********************************************************************************/
 #main-re{
  /* margin-left: 30px;  */
  /* background-image: url('images/greenBack.jpg'); */
 }
 /* #h1{
   margin-top: 20px;
   margin-bottom: 40px;
   font-size: 65px;
   font-family: 'Moon Dance', cursive; 
   /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
/* } */
 /* .ui_search{
   margin-bottom:40px ;
   white-space: 300px;
   height: 50px;

 } */
 /* .ui_icon_input{
   border-top: 30px;
 } */

 .submainAll{
  width: 560px;
  height: 400px;
  background-size: cover !important;
  background-position: center;
  position: relative;
 }

 #submain1{ 
   background-image: url('../images/newBrak2.jpg'); 

 }
 #submain2{
  background-image: url('../images/lunch.jpg'); 

}
#submain3{
  background-image: url('../images/newDinner.jpg'); 

}
#submain4{
  background-image: url('../images/newDess9.jpg'); 

}
#submain5{
  background-image: url('../images/newSn1.jpg'); 

}
#submain6{
  background-image: url('../images/drink.jpg'); 
}
 #bottom{
  padding-left: 10px;
  padding-right: 13px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color:white;
  color: rgb(247, 207, 207);
  font-family: 'Moon Dance', cursive; 
  font-size: 40px;
  border-radius: 0px 25px 0px 0px; /*this rounds the upper right corner*/
 }

 #pdiv{
   margin-top:10px ;
   margin-bottom: 20px;
   /* margin-left: 100px; */

   background-color:transparent !important;

   
 }
#h2p{
  /* font-family: 'Moon Dance', cursive;  */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  color:rgb(253, 253, 253)
  /* font-weight: 700; */
}


.bigDivAll{
  margin: 15px 90px !important;
  background-color: rgb(99, 95, 95);
  border: 5px solid rgb(99, 95, 95);
  border-radius: 30px;
  overflow: hidden; /*this rounds the corners at the top */ 
  /*float: left;*/

}

.hov:hover{
  transition:0.6s ease-in-out;
  transform: scale(1.2);
  /* z-index: 99; */
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  background-color: #111;
  color: #eee;
  overflow: hidden;
  position: relative;
}
.marquee:before, .marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}
.marquee:before {
  left: 0;
  background: linear-gradient(to right, #111 0%, transparent 100%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, #111 0%, transparent 100%);
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling 35s linear infinite;
}
/* .marquee-content:hover {
  animation-play-state: paused;
} */
@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(-180vw); }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height)*3/4); /* 5rem; */
  white-space: nowrap;
}
.marquee-content li img {
  width: 100%;
  /* height: 100%; */
  border: 2px solid #eee;
}


@media (max-width: 600px) {
  html { font-size: 12px; }
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before, .marquee:after { width: 5rem; }
}



 