.main {
  justify-content: center;
  display: flex; 
  padding-top: 90px;
  padding-bottom: 90px;
  /* background-image: url(./images/dark.PNG);  */
  background-image: url("./images/reciBack.jpg"); 
  background-size: contain;
}
.sub-main {
  display: flex;
  justify-content: center;
  width: 350px;
  height: 550px;
  background: rgba(0,0,0,0.5);
  color:#fff;
  top:50%;
  left:50%;
  padding-top: 30px;
  border-radius: 60px; 
  /*box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);*/

}
.imgs{
    padding-top: 20px;
    justify-content: center;
    display: flex;
  }
.container-image {
  background-color: rgb(223, 221, 221); 
  border-radius: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 115px;
  width: 115px;
  
}
.profile {
  height: 100px;
  width: 100px;
  border-radius: 130px;
} 
h1{
  text-align: center;
}
.form{
  margin-left:-30px;
}
p{
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 20px;  
}
input{
  width: 100%;
  margin-bottom: 20px;

}
input[type="text"], input[type="password"]{
  border:none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline:none;
  height: 40px;
 
  color:#fff;
  font-size: 16px;
 text-align: left;
} 

.first-input{
  padding-top: 20px;
}
.second-input{
  padding-top: 20px;
}

button{
  width: 180px;
  height: 50px;
  border-radius: 60px;
  background-color: #1c8adb;
  color: white;
  font-size: 25px;
  border: none;
  outline:none;
}
.login-button{
  padding-top: 25px;
  margin-left: 30px;

}
button:hover{
  cursor: pointer;
  background: #39dc79;
  color: #000;
}

.link{
  margin-top: 30px;
  font-size: 18px;
  font-weight: 400;
}
a{
  text-decoration: none;
  color: #fff;
}

a:hover{
  color: #39dc79;
}