.fullpage{
    --border-radius: 4px;
    margin: 0;
    height: 100vh;
    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: url(./images/passwordrecovr.jpg);
    background-size: cover;
}
.container{
    
    width:400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: rgb(85, 84, 84);
    opacity: 0.9;
}

#h2{
    color: azure;
}
.passwordrecovery {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.passwordrecovery label {
    text-align: left;
    display: block;
}

.passwordrecovery input, .passwordrecovery textarea {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid rgb(255, 243, 243);
    box-sizing: border-box;
    display: block;
}

.button {
    background: #474747;
    color: rgb(41, 40, 40);
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;

    transition-duration: 0.8s;

}

.button:hover {
    background-color: #0dced4; /* Green */
    color: white;
  }
