body{
    --border-radius: 4px;
    margin: 0;
    height: 100vh;
    /* display: flex; */
    align-items: center;
    justify-items: center;
    font-size: 18px;
    background: url(./images/passwordrecovr.jpg);
    background-size: cover;
}
.container{
    margin-top: 500px;
    margin-left: 500px;
    width:400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #fff;
    
}
.passwordrecovery {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.passwordrecovery label {
    text-align: left;
    display: block;
}

.passwordrecovery input, .passwordrecovery textarea {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid rgb(255, 243, 243);
    box-sizing: border-box;
    display: block;
}

.password button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}
