img{

    margin-top: 10%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  
  }

  h1{
    position: center;
    margin: left 30%;
  }
  h3{
    position: center;
    margin: left 30%;
  } 
  #userdiv{
    margin-left: 30%;
    text-align: center;
    background-color: rgb(170, 159, 159);
    width: fit-content;
  }