#pid{
    margin-left: 730px;
    margin-top: 60px;
}
#everyThing{
    margin-left: 250px;
}
.bigTeble{
    border: solid;
    border-color: gray;
}
.headerRow{
    border: solid;
    border-color: gray;
}
.headerCol{
    border: solid;
    border-color: gray;
    padding: 15px 15px;
}
#left{
  position: relative;
  
}
#right{
  margin-left: 80%;
}

#pendingId{
  margin-left: 40px;
  margin-top: 40px;
  /* width: 5px; */
}
.pendingInput{
margin-top: 10px;
font-size: 18px;
}
#recIdPending{
  padding-left: 10px;
  margin-left: 10px;

}
#status{
  padding-left: 10px;
}